.list {
    width: 75%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list li {
    width: 16rem;
    height: 16rem;
    list-style: none;
    margin: 1rem;
}

.place {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #100607;
    border: #100607 solid 2px;
    transition: 0.5s ease-in-out;
}

.place h2 {
    margin: 0;
    padding: 0;
}

.place h3 {
    margin: 0.2rem;
    padding: 0;
}

.place h4 {
    margin: 0.2rem;
    padding: 0;
}

.place img {
    width: 100%;
    height: auto;
}

.bonusDetail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.front {
    transition: 0.5s ease-in-out;
}

.back {
    display: none;
    background: greenyellow;
    transition: 0.5s ease-in-out;
}

.place:hover .front {
    display: none;
}

.place:hover .back {
    display: flex;
    flex-direction: column;
}