.list {
    width: 75%;
    height: auto;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list li {
    width: 18rem;
    height: 18rem;
    list-style: none;
    margin: 1rem;
}

.place {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #100607;
    /* border: #100607 solid 2px; */
    border-radius: 2px;
    box-shadow: #5bcfd0 3px 3px;
    position: relative;
}

.place h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}

.place h3 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.place h4 {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.place p {
    font-size: 0.9rem;
}

.place img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.bonusDetail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bonusDetail p {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: .8rem;
}

.front p {
    width: 100%;
    margin: 0;
    margin-top: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}

.back {
    display: none;
}

.back p {
    text-align: center;
}

.place:hover .front {
    display: none;
}

.place:hover .back {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
}